{% extends "base.html" %}


{% block content %}
<header>
    {% if not request.user.is_authenticated %}
        <a class="sign_btn" href="{% url 'login' %}">Sign in</a>
        <a class="sign_btn" href="{% url 'register' %}">Sign up</a>
    {% else %}
    <a class="sign_btn" href="{% url 'logout' %}">Sign out</a>
    {% endif %}
</header>


<main>
    <h1>Tasker</h1>
    <p class="description">Tasker is a user-friendly platform designed to help you<br/>
        prioritize your tasks effectively. With Tasker, you can<br/>
        organize, schedule, and track your tasks effortlessly,<br/>
        ensuring that you stay focused  on what matters most. <br/>
        <br/>Say goodbye to productivity and hello to procrastination with Tasker!
    </p>
    <a class="goto_board" href="{% url 'task-tracker:dashboard-list' %}">Go to dashboards</a>
</main>
<footer>
    <p>
        Made by<br><a href="https://t.me/omuskat" target="_blank">@omuskat</a> / <a href="https://t.me/Sashapre228" target="_blank">@Sashapre228</a>
    </p>
</footer>
{% endblock %}