{% extends "base.html" %}


{% block content %}
{% load custom_tags %}

<main class="back_gr">
	<h1>Tasker</h1>
	<div class="task_details_tesseractoriumanarium">
		<div class="form04ka task_form ne_form04ka">
			
			<ul>
				<li> Name: {{ task.name }}</li>
				<li> Creator: {{ task.creator }} </li>
				<li> Description: {{ task.description }} </li>
				<li> End date: {{ task.end_date }} </li>
				<hr>
			</ul>
			<div class="row-ambatacamus">
				
				<a href="{% url 'task-tracker:task-edit' dashboard_pk task.pk %}">Edit</a> 
				<br>
				<a href="{% url 'task-tracker:task-delete' dashboard_pk task.pk %}">Delete</a>
				<br>
			</div>
			<br>
			<form class="form_flex" method="post" enctype="multipart/form-data"> 
				<div class=" task_form"> 
					{% csrf_token %} 
					{{form.as_p}} 
				<button type="submit" class="subpriotermbtn">Submit</button>
			</div> 
			</form>
	{% for comment in comments %}
	<section class="comments_boxes">
		{{ comment.creator}} <br> <br>
		{{ comment.content }} 
		{% if comment.media %}
			{% if comment.media.url|endswith:".jpg" or comment.media.url|endswith:".jpeg" or comment.media.url|endswith:".png" %}
				<img src="{{comment.media.url}}" alt="Comment photo" style="max-width: 500px;">
			{% elif comment.media.url|endswith:".mp4" %}
				<video controls>
					<source src="{{ comment.media.url}}" type="mp4/video">
					Your browser does not support video tag
				</video>
			{% elif comment.media.url|endswith:"mp3" %}
				<audio src="{{ comment.media.url}}" controls></audio>
			{% else %}
				<a href="{{ comment.media.url}}">Download file</a>
			{% endif %}
		{% endif %}
		{% if request.user == comment.creator %}
				<a href="{% url 'task-tracker:comment-edit' dashboard_pk task.pk comment.pk %}">Edit</a>
				<a href="{% url 'task-tracker:comment-delete' dashboard_pk task.pk comment.pk %}">Delete</a>
		{% endif %}
		<br>
		<form action="{% url 'task-tracker:like-add' dashboard_pk task.pk comment.pk %}" method="post"> 
			{% csrf_token %} 
			<button type="submit" class="btn btn-xuina btn-sm {% if request.user in comment.likes.all %}btn-primarygit {% else %}btn-outline-primary{% endif %}">Like {{comment.likes.count}}</button> 
		</form>
	</section>

{% endfor %}
{% endblock %}
</main>