{% extends "base.html" %}


{% block content %}
<ul>
	{% for dashboard in dashboards %}
		<li> <a href="{% url 'task-tracker:task-list' dashboard.pk %}">{{dashboard}}</a> </li>
	{% endfor %}
</ul>
<header class="header_boards">
	<a class="back_txt" href="http://127.0.0.1:8000/">Back to dashboards</a>
	<div class="sortby">
		<h2>Sort by:⠀</h2>
		<details class="dropdown">
			<summary role="button">
			<a class="button">Priority</a>
			</summary>
			<ul>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
		</ul>
		</details>
		<details class="dropdown">
			<summary role="button">
			<a class="button">Term</a>
			</summary>
			<ul>
			<li><a href="#">Sooner</a></li>
			<li><a href="#">Later</a></li>
		</ul>
		</details>
	</div>
	<div class="right_header">
		<a class="invite_txt" href="http://127.0.0.1:8000/">Invite</a>
		<a class="profile_txt" href="http://127.0.0.1:8000/">Profile</a>
	</div>
</header>

<main class="tododo">

	<div class="task_ultracolumb">
		<h2>Need to do</h2>
		<div class="task_column">
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test </a>
				<hr>
			</div>
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test 
					test Task test Task test Task test Task test Task test Task testtest Task test Task test Task test Task test Task test Task test
					test Task test Task test Task test Task test Task test Task test
				</a>
				<hr>
			</div>
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test
					test Task test Task test Task test Task test Task test Task testtest Task test Task test Task test Task test Task test Task test </a>
				<hr>
			</div>
		</div>	
	</div>
	
	<div class="task_ultracolumb">
		<h2>In progress</h2>
		<div class="task_column">
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test </a>
				<hr>
			</div>
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test 
					test Task test Task test Task test Task test Task test Task testtest Task test Task test Task test Task test Task test Task test
					test Task test Task test Task test Task test Task test Task test
				</a>
				<hr>
			</div>
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test
					test Task test Task test Task test Task test Task test Task testtest Task test Task test Task test Task test Task test Task test </a>
				<hr>
			</div>
		</div>	
	</div>
	<div class="task_ultracolumb">
		<h2>Done</h2>
		<div class="task_column">
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test </a>
				<hr>
			</div>
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test 
					test Task test Task test Task test Task test Task test Task testtest Task test Task test Task test Task test Task test Task test
					test Task test Task test Task test Task test Task test Task test
				</a>
				<hr>
			</div>
			<div class="task_box">
				<a class="task">Task test Task test Task test Task test Task test Task test Task test Task test Task test Task test
					test Task test Task test Task test Task test Task test Task testtest Task test Task test Task test Task test Task test Task test </a>
				<hr>
			</div>
		</div>	
	</div>
</main>

<footer class="footer_boards">
	<p class="authors">
        Made by<br><a href="https://t.me/omuskat" target="_blank">@omuskat</a> / <a href="https://t.me/Sashapre228" target="_blank">@Sashapre228</a>
    </p>
</footer>
{% endblock %}