{% extends "base.html" %}


{% block content %}
<header class="header_boards">
	<a class="back_txt" href="{% url 'task-tracker:dashboard-list' %}">Back to dashboards</a>
	<div class="sortby">
		<h2>Sort by:</h2>
		<details class="dropdown">
			<summary role="button">
			<a class="button">Priority</a>
			</summary>
			<ul>
			<li><input type="text"></li>
			<li><input type="text"></li>
			<li><input type="text"></li>
		</ul>
		</details>
		<details class="dropdown">
			<summary role="button">
			<a class="button">Term</a>
			</summary>
			<ul>
			<li><a href="#">Sooner</a></li>
			<li><a href="#">Later</a></li>
		</ul>
		</details>
	</div>
	<form method="get">
		{{form.as_p}}
		<button type="submit">submit</button>
	</form>
	<div class="right_header">
		<a class="profile_txt" href="{% url 'user-info' user.pk %}">Profile</a>
	</div>
</header>

<main class="tododo">

	<div class="task_ultracolumb">
		<h2>Need to do</h2>
		<div class="task_column">
			{% for task in tasks %}
				{% if task.status == "1" %}
				<div class="task_box">
					<a class="task" href="{% url 'task-tracker:task-details' dashboard_pk task.pk %}"> {{task.name}} </a>
					<hr>
				</div>
				{% endif %}
				
			{% endfor %}
		</div>	
	</div>
	
	<div class="task_ultracolumb">
		<h2>In progress</h2>
		<div class="task_column">
			{% for task in tasks %}
				{% if task.status == "2" %}
				<div class="task_box">
					<a class="task" href="{% url 'task-tracker:task-details' dashboard_pk task.pk %}"> {{task.name}} </a>
					<hr>
				</div>
				{% endif %}

			{% endfor %}
		</div>	
	</div>
	<div class="task_ultracolumb">
		<h2>Done</h2>
		<div class="task_column">
			{% for task in tasks %}
				{% if task.status == "3" %}
				<div class="task_box">
					<a class="task" href="{% url 'task-tracker:task-details' dashboard_pk task.pk %}"> {{task.name}} </a>
					<hr>
				</div>
				{% endif %}
				
			{% endfor %}
		</div>	
	</div>
</main>
<a href="{% url 'task-tracker:task-create' dashboard_pk %}">Add task</a>
<footer class="footer_boards">
	<p class="authors">
        Made by<br><a href="https://t.me/omuskat" target="_blank">@omuskat</a> / <a href="https://t.me/Sashapre228" target="_blank">@Sashapre228</a>
    </p>
</footer>
{% endblock %}